html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  /* scroll-behavior: smooth; */
  overflow-y: auto;
}


body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

::selection { background: #a4dcec; }
::-moz-selection { background: #a4dcec; }
::-webkit-selection { background: #a4dcec; }

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic;
}

br { display: block; line-height: 2.2em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

/* #topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
  height: 36px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
#topbar a {
  color: #fff;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}
#topbar a:hover {
  opacity: 1;
} */

/* #stickynav {
  display: block;
  height: 35px;
  width: 100%;
  z-index: 9999;
}

#stickynav #nav { position: fixed; z-index: 9999; }
#stickynav #nav li { display: inline; }
#stickynav #nav li a {
  display: block;
  float: left;
  margin-right: 8px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 7px;
  background: #cce4c4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#stickynav #nav li a:hover {
  text-decoration: none;
  background: #d8f0d0;
}

#stickynav #nav li a.nav-active {
  color: #000;
} */


/** typography **/
h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #111;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}
h1:before,
h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #4286f4;
}
h1:before {
  left: -.5em;
  margin: 0 0 0 -50%;
}
h1:after {
  left: .5em;
  margin: 0 -50% 0 0;
}
h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}


h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #111;
  /* color: #343a40; */
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

p {
  display: block;
  font-size: 1.35em;
  line-height: 1.5em;
  margin-bottom: 22px;
}

a { color: #4286f4; text-decoration: none; }
a:hover { text-decoration: underline; }

.center { display: block; text-align: center; }



form .basic {
  display: block;
  font-size: 1.5em;
  color: #555;
  font-family: Arial, Tahoma, sans-serif;
  padding: 4px 6px;
  margin-bottom: 10px;
}

form .basictxt {
  display: block;
  width: 550px;
  height: 180px;
  font-family: Arial, Tahoma, sans-serif;
  color: #666;
  padding: 5px 8px;
  font-size: 1.6em;
  line-height: 1.4em;
}

/** page structure **/
#w {
  display: block;
  width: 1020px;
  width: 81%;
  margin: 0 auto;
  margin-left: 19%;
  /* padding-top: 30px; */
}

#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* new stuff */

.section {
  height: 650px;
  padding-top: 25px;
}

/* .bottom {
  height: 635px;
} */

.project_images {
  display:flex;
  margin-left:auto;
  margin-right:auto;
}

.project_image {
  height: 7vh;
  border-radius: 3px;
  /* margin: 0.8vw; */
}

.site_image {
  height: 10vh;
  border-radius: 3px;
  outline-style: hidden;
  align: left;
  margin-right: 1vw;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you click the navigation links, change their color */
/* .sidenav a:visited {
  color: #4286f4;
} */

/* When you click over the navigation links, change their color */
.sidenav a:focus {
  color: #4286f4;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: white;
}

/* When you click the navigation links, change their color */
.sidenav a:active {
  color: #4286f4;
}

.sidenav a.selected{
   color: #4286f4;
}

.sideNavText {
  position: relative;
  left: 27%;
  top: 10%;
}

.roundedPic {
  border-radius: 50%!important;
}

.sideNavPic {
  /* margin-right: 20%; */
  position: relative;
  left: 11%;
  top: 10%;
}

.contact_bar_image {
  height: 4vh;
  border-radius: 3px;
  outline-style: hidden;
  cursor: pointer;
  /* margin: 0.8vw; */
}

.contact_bar_image:hover {
  outline-style: solid;
  outline-color: #4286f4;
}

.linkBar {
  list-style: none;
  display: flex;
  position: relative;
  top: 33%;
  margin-left: 22%;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  #w {
    display: block;
    width: 1020px;
    width: 81%;
    margin: 0 auto;
    margin-left: 45%;
  }

  .contact_bar_image {
    height: 2vh;
    /* border-radius: 3px;
    outline-style: hidden;
    cursor: pointer; */
    /* margin: 0.8vw; */
  }
}

.picMe {
  border: 5px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.margin {
  margin-top: 2%;
  margin-left: 2%;
}

.contact {
  text-align: center;
}

.body {
  margin-left: 5%;
}

.projectList {
  list-style: disc;
  margin-left: 3%;
  position: relative;
  bottom: 1em;
}

.resumeList {
  list-style: disc;
  margin-left: 3%;
  position: relative;
  bottom: 3em;
}

.educationList {
  list-style: disc;
  margin-left: 3%;
  position: relative;
  bottom: 1.5em;
}

.subParagraph {
  position: relative;
  bottom: 1.3em;
}

.italic {
  font-style: italic;
}

.download {
  margin-right: .5%;
	text-align: center;
}

.devicon-git-plain {
  max-width: 7em;
}

/* if you want to change the original color */
.devicon-git-plain path {
  /* fill: #4286f4; */
}

.center {
  text-align: center;
}
